/*--------------------------------------------------------
        Top banner styles section start
---------------------------------------------------------*/
.top-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 23px;
    width: 994px;
    height: 612px;
    padding-left: 107px;
    padding-right: 79px;
    background: #161616;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
}

/* top banner text color  */
.top-banner h1,
p,
a {
    color: #FFFFFF;
}

.top-banner h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
}

.top-banner p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

/* top banner button styles section start */
.button-style {


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 187px;
    height: 56px;
    background: #DD0000;
    border-radius: 5px;
}

.button-style a {
    text-decoration: none;
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

}

/* Top banner button styles section end  */

/* Top banner image styles */
.top-banner-image {
    width: 581px;
    height: 613px;
}

/*--------------------------------------------------------
        Top banner styles section end
---------------------------------------------------------*/




/*---------------------------------------------------------------------
                     Footer styles start point 
-----------------------------------------------------------------------*/

footer {
    margin-left: 0;
    padding-left: 0;
    margin-top: 130px;
    width: 1413px;
    height: 444px;
    background: #161616;
}

#footer-heading p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
}

hr {
    width: 1320px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-more-option {
    display: flex;
    justify-content: center;
}

.footer-more-option a {
    padding: 50px;
    text-decoration: none;
}

.social-media-icon {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    align-items: center;
    justify-content: center;
}

.social-media-icon img {
    width: 30px;
    height: 30px;
    padding: 20px;
}

.fb-icon {
    background-color: #eaedf3;
    border-radius: 7px;
}

/*---------------------------------------------------------------------
                     Footer styles end
-----------------------------------------------------------------------*/