@media only screen and (max-width:1000px) and (min-width:768px) {
    .top-banner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2vw;
        width: 79vw;
        height: 70vh;
        padding-left: 3.5vw;
        padding-right: 2.5vw;
        background: #161616;
        border-radius: 30px;
        margin-top: 2.5vh;
        margin-left: 3.5vw;
        margin-right: 12vw;
        margin-bottom: 8.5vh;
    }

    .button-style {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5vw 1.5vh;
        width: 17vw;
        height: 7vh;
        background: #DD0000;
        border-radius: 5px;
    }

    .top-banner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .top-banner h1,
    p,
    a {
        color: #FFFFFF;
    }

    .top-banner h1 {
        font-style: normal;
        font-weight: 80vw;
        font-size: 400%;
        line-height: 60px;
        padding-top: 2vh;
        padding-bottom: 1vh;
        margin-bottom: 0.2vh;
    }

    .top-banner p {
        font-style: normal;
        font-weight: 4vw;
        font-size: 90%;
        margin-top: 1vh;


    }

    .top-banner-image {
        width: 35vw;
        height: 70vh;
    }

    .navigation {

        display: flex;
        background-color: white;
        flex-direction: row;
        justify-content: space-around;
        /* margin-left: 10vw; */
        width: 103vw;
        height: 30%;
        margin-top: -7%;
        margin-bottom: 7%;
        margin-left: -25%;
    }



    .tablet {
        display: none;
    }

    .view-all {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 38%;
        margin-top: 5%;
    }

    .articles-section {
        display: flex;
        flex-direction: column;
        column-gap: 24px;
        margin-left: 11.5vw;
        margin-right: 13vw;
    }

    .articles-container {
        margin-left: -10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .article {
        background-color: #E8E8E8;
        width: 41vw;
    }

    .resize-article-image {
        width: 41vw;
        height: 14vh;
    }

    .blog-transfer-box {
        margin-left: 7%;
        width: 92vw;
        height: 2vh;
        border: 1px solid black;
        color: #161616;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
    }

    .blog-text {
        color: #161616;
        font-weight: 600;
        font-size: 18px;
        width: 24vw;
        height: 10.5vh;
    }

    #footer-heading p {
        padding-left: -61%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 9vh;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        margin-left: -8%;
    }

    .footer-more-option {
        width: 90%;
        display: flex;
        justify-content: center;
        scroll-padding-left: 203%;
        flex-wrap: wrap;
    }

    .social-media-icon {
        display: grid;
        grid-template-columns: repeat(3, 9vw);
        align-items: center;
        justify-content: center;
        margin-left: -8%;
    }
}

@media only screen and (max-width:767) {
    .top-banner {
        display: flex;
        flex-direction: column;
        height: 150vh;
        width: 80vw;
        height: 142.5vh;
        padding-left: 6.5vw;
        padding-right: 4.5vw;
        background: #161616;
        border-radius: 30px;
        margin-top: -4.5vh;
        margin-left: 0.5vw;
        margin-right: -3vw;
        margin-bottom: 12.5vh;
    }

    .top-banner h1 {
        text-align: center;
        font-style: normal;
        font-weight: 100vw;
        font-size: 500%;
        line-height: 80px;
        padding-top: 4vh;
        padding-bottom: 1.5vh;
        margin-bottom: 0.5vh;
    }

    .button-style {
        margin-left: 41%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5vw 1.5vh;
        width: 17vw;
        height: 7vh;
        background: #DD0000;
        border-radius: 5px;
    }


}