@media only screen and (max-width:1050px) {
    .top-banner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2vw;
        width: 60vw;
        height: 70vh;
        padding-left: 3.5vw;
        padding-right: 2.5vw;
        background: #161616;
        border-radius: 30px;
        margin-top: 2.5vh;
        margin-left: 10.5vw;
        margin-right: 12vw;
        margin-bottom: 8.5vh;
    }

    .top-banner h1,
    p,
    a {
        color: #FFFFFF;
    }

    .top-banner h1 {
        font-style: normal;
        font-weight: 80vw;
        font-size: 400%;
        line-height: 60px;
        padding-top: 2vh;
        padding-bottom: 1vh;
        margin-bottom: 0.2vh;
    }

    .top-banner p {
        font-style: normal;
        font-weight: 4vw;
        font-size: 90%;
        margin-top: 1vh;


    }

    .top-banner-image {
        width: 35vw;
        height: 70vh;
    }

    .navigation {

        display: flex;
        background-color: white;
        flex-direction: row;
        justify-content: center;
        margin-left: 30vw;
    }

    .tablet {
        display: none;
    }

    .articles-section {
        display: flex;
        flex-direction: column;
        column-gap: 24px;
        margin-left: 11.5vw;
        margin-right: 13vw;
    }

    .articles-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        margin-left: 13vw;
    }

    .article {
        background-color: #E8E8E8;
        width: 30vw;
    }

    .resize-article-image {
        width: 30vw;
        height: 14vh;

    }
}