.flag-box {
    width: 18vw;
    height: 30vh;
    border: none;
    border-radius: 3%;
    box-shadow: 0.2px 0.2px 1px 1px #888888;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.flag-align {
    display: flex;
    justify-content: center;
    border: 0px solid #E8E8E8;
    border-radius: 3%;
    width: 27vw;
    margin-bottom: 0.9vh;

}

.flag-resize {
    width: 6vw;
    height: 8vh;
}

.vs-paragra {
    width: 2vw;
    height: 4vh;
    color: #161616;
    padding-left: 0.8vw;
}

h3 {
    margin-top: -7vh;
    margin-bottom: 0.2vh;
}

.match-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -2.5vh;
}

.match-time {
    width: 11vw;
    height: 5vh;
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
    margin-top: 1vh;
}